{% extends 'base.html.twig' %}

{% block title %}Blog title | {{ entry.title }}{% endblock %}

{% block body %}
	<article>
		<h1>{{ entry.title }}</h1>
		<img src="{{ entry.image }}" />
    	<p>
    		{{ entry.text }}
    	</p>
	</article>
{% endblock %}